.login {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("https://i.pinimg.com/564x/d1/b0/83/d1b083ac9d9344250908137e08d6eb20.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card-box {
  position: relative;
  background-image: url("https://images.pexels.com/photos/3573841/pexels-photo-3573841.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: 600px;
  height: 400px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  box-shadow: 4px 4px 16px rbga(0, 0, 0, 0.535);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.information {
  width: 60%;
  color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.information p {
  text-align: center;
  font-size: 20px;
  width: 70%;
}

.information span {
  font-size: 10px;
}


.information h1 {
  font-size: 30px; /* Cambia el tamaño de la fuente según sea necesario */
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tus necesidades */
}

.information h2 {
  font-size: 25px; /* Cambia el tamaño de la fuente según sea necesario */
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tus necesidades */
}

.information p {
  text-align: center;
  font-size: 20px;
  width: 70%;
}

.form h2 {
  font-size: 28px; /* Cambia el tamaño de la fuente según sea necesario */
  font-family: 'Arial', sans-serif; /* Cambia la fuente según tus necesidades */
}

.form {
  width: 50%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(15, 15, 15, 0.178);
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(2px);
  margin-bottom: -0.1rem;
}

.form h2 {
  text-align: center;
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-media a {
  cursor: pointer;
}

.data {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.data input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  color: white;
  font-size: 12px;
}
.recover {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.recover span,
.recover a {
  font-size: 10px;
  color: white;
}

.btnform {
  display: flex;
  justify-content: center;
}
.btnform {
  background-color: rgb(94, 209, 94);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
  width: 100%;
  color: white;
}

.btnform {
  background-color: green; /* Color por defecto */
  border: none;
  border-radius: 10px;
  padding: 5px;
  color: wheat;
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
}

.btnform:hover {
  background-color: rgb(
    86,
    163,
    86
  ); /* Cambia el color cuando el cursor está sobre el botón */
}

.btnform:active {
  background-color: rgb(
    120,
    179,
    120
  ); /* Cambia el color cuando se hace clic en el botón */
}

::placeholder {
  color: rgba(255, 255, 255, 0.749);
}

@media (max-width: 960px) {
  .card-box {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .information,
  .form {
    width: 100%;
  }
}
